In [95]:
import pandas as pd
from datetime import datetime

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [96]:
df = pd.read_csv('/workspaces/Group-Formative-Assignment-Data-Cleaning-and-Collaborative-Coding//data/query.csv')
df.head(1)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2023-01-01T23:59:29.195Z,-2.493,140.7385,10.0,4.2,mb,19.0,99.0,16.495,0.45,us,us7000j3yb,2023-03-11T22:51:46.040Z,"5 km NNE of Jayapura, Indonesia",earthquake,10.43,1.863,0.175,9.0,reviewed,us,us

In [ ]:
# Function to remove trailing Z in time and updated column
def removing_trailing_z(column):
    updated_column = []
    for row in column:
        if 'Z' in row:
            updated_column.append(row.replace('Z', ''))
        else: 
            updated_column.append(row)
    return pd.DataFrame(updated_column)

df['time'] = removing_trailing_z(df['time'])
df['updated'] = removing_trailing_z(df['updated'])
df.head(1)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2023-01-01T23:59:29.195,-2.493,140.7385,10.0,4.2,mb,19.0,99.0,16.495,0.45,us,us7000j3yb,2023-03-11T22:51:46.040,"5 km NNE of Jayapura, Indonesia",earthquake,10.43,1.863,0.175,9.0,reviewed,us,us

In [ ]:
# Setting time column as a datetime object and 
df['time'] = pd.to_datetime(df['time']).dt.floor("s")
df['updated'] = pd.to_datetime(df['updated']).dt.floor("s") 
df.head(1)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2023-01-01 23:59:29,-2.493,140.7385,10.0,4.2,mb,19.0,99.0,16.495,0.45,us,us7000j3yb,2023-03-11 22:51:46,"5 km NNE of Jayapura, Indonesia",earthquake,10.43,1.863,0.175,9.0,reviewed,us,us